<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "stay-in-touch app", posts_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "timeline", posts_path %></li>
          <li><%= link_to "all users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "my profile", current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "log out", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "log in", user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
