<section class="users-section">
  <h1>list of all users in the app</h1>
  <%= will_paginate %>
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
          <%= gravatar_for user %>
          <h3><%= user.name %></h3>
          <% unless user == current_user %>
            <% if pending?(user) %>
              <p class="friend">friend request sent</p>
            <% elsif recieved?(user) %>
              <%= link_to 'Accept request', friendship_path(user), method: :put, class: 'btn btn-primary' %> 
            <% elsif current_user.friend_with?(user) %>
              <p class="friend">friends</p> 
            <% else %> 
              <%= link_to 'add friend', "#{root_path}friends/create/#{user.id}", method: :post, class: 'btn btn-primary add_friend' %>
            <% end %>   
          <% end %>
      </li>
    <% end %>    
  </ul>
  <%= will_paginate %>
</section>
