<%= form_with(model: group, local: true, class: "form-group") do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "" %>
    <%= form.text_field :name, class: "form-control", placeholder: "group name" %>
  </div>

  <div class="field">
      <%= form.label :icon, class: "" %>
      <%= form.select(:icon, options_for_select([ ["&#xf2bc;".html_safe, "address-card-o"],
                                                  ["&#xf0f9;".html_safe, "ambulance"],
                                                  ["&#xf17b;".html_safe, "android"],
                                                  ["&#xf179;".html_safe, "apple"],
                                                  ["&#xf1fe;".html_safe, "area-chart"],
                                                  ["&#xf1b9;".html_safe, "automobile"],
                                                  ["&#xf24e;".html_safe, "balance-scale"],
                                                  ["&#xf2cd;".html_safe, "bathtub"],
                                                  ["&#xf1fd;".html_safe, "birthday-cake"]])) %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
