<% provide(:title, @group.name) %>
<% provide(:navbar_page_title, "group projects") %>

<section class="group_info">
  <h1>
    <%= icon(@group.icon, class: "fa-lg") %>
    <%= @group.name %>
  </h1>
</section>

<section class="group-table">
  <%= render partial: "show_group_table", locals: { projects: @group.projects, allow_change: true} %>
</section>

<br>

<div class="bttn">
  <%= button_to 'edit', edit_group_path(@group), method: :get, class: 'btn btn-primary' %>
  <%= button_to 'destroy', @group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
  <%= button_to 'create new group', new_group_path, method: :get, class: 'btn btn-primary' %>
  <%= button_to 'add new project', new_project_path, method: :get, class: 'btn btn-primary' %>
  <%= button_to 'back', groups_path, method: :get, class: 'btn btn-secondary' %>
</div>