<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | members-only app</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "members-only app", '/static_pages/home', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "posts",   '/posts' %></li>
            <% if logged_in? %>
              <li><%= link_to "users",  '/users' %></li>
              <li><%= link_to "help",   '/static_pages/help' %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "my profile", current_user %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "log out", logout_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>