<div class="list-group post">

  <div class="author-and-like">
    <div class='post-attribution' >
      <%= link_to post.user.name, user_path(post.user), class: 'post-author' %>
    </div>
    <div class='post-liking'>
      <span class='post-date'> <%= post.created_at.strftime("%Y/%m/%d") %> </span>
      <%= like_or_dislike_btn(post) %>
    </div>
  </div>

  <a href="#" class="list-group-item list-group-item-action">
    <p class="mb-1 post-content"><%= post.content %></p>
  </a>
  
  
  <div class='list-group-item list-group-item-action list-group-item-secondary text-muted post-comments-section'>
    <% post.comments.each do |comment| %>
      <div class="post-comments">
        <p><b><%= comment.user.name %>:</b> <%= comment.content %></p>
        <span> <%= comment.created_at.strftime("%Y/%m/%d") %> </span>
      </div>
    <% end %>
    <%= form_for(post.comments.new, url: post_comments_path(post)) do |form| %>
      <%= form.text_field :content, id: :comment_content, class: 'form-control', placeholder: 'add new comment' %>
      <%= form.submit 'comment', class: 'btn btn-secondary' %>
    <% end %>
  </div>

</div>